In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [6]:
type(df['email'])

pandas.core.series.Series

In [8]:
df[['first', 'last']]

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [9]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
df.iloc[1]

first                 Jane
last                   Doe
email    JaneDoe@email.com
Name: 1, dtype: object

In [14]:
df.iloc[[1,2]]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [15]:
df.iloc[[1,2], 1]

1    Doe
2    Doe
Name: last, dtype: object

In [17]:
df.loc[[1,2] , 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object