In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\SHAURYA CHAND\\Downloads\\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [5]:
df = pd.read_excel("C:\\Users\\SHAURYA CHAND\Downloads\\weather_data.xlsx","Sheet1")
df

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\SHAURYA CHAND\AppData\Local\Temp\ipykernel_304388\1585498474.py:1: SyntaxWarning: invalid escape sequence '\D'
  df = pd.read_excel("C:\\Users\\SHAURYA CHAND\Downloads\\weather_data.xlsx","Sheet1")

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [6]:
#third one is dict
# pd.dataframe()

In [ ]:
#fourth one is dict
# pd.dataframe()